@charset "utf-8";

body{
	height:100%;
	margin:0;
}

header{
	width:100%;
	line-height:60px;
	height:60px;
	background-color: #000000;
	color: #FFFFFF;
}

main{
	text-align:center;margin:auto;
}

.frame{
	width:70%;
	padding:10px;
	text-align:center;margin:auto;
	margin-bottom:10px;
	border:1px solid #000000;
}

table{
	text-align:center;
	margin:auto;
	border-spacing: 20px 10px;
}